<div class="header-contact">

    <div class="header-content">
        <h1>CONTACT.</h1> <br> You are interessted. <br> <br> Don't be shy. <br> Write me.

        <div class="contact-content">

            <div class="contact">

                <div class="contact-icon">
                    <img src="assets/img/facebook-blue.png">
                </div>
                <h3>FACEBOOK</h3>
            </div>

            <div class="contact-right">
                <div class="contact-icon">
                    <img src="assets/img/facebook-blue.png">
                </div>
                <h3>FACEBOOK</h3>
            </div>
        </div>

        <div class="contact-content">

            <div class="contact">
                <div class="contact-icon">
                    <img src="assets/img/facebook-blue.png">
                </div>
                <h3>FACEBOOK</h3>
            </div>

            <div class="contact-right">
                <div class="contact-icon">
                    <img src="assets/img/facebook-blue.png">
                </div>
                <h3>FACEBOOK</h3>
            </div>
        </div>
    </div>

    <div class="header-img">

        <img src="assets/img/testlogo.png">

    </div>


</div>

<div class="border"></div>

<div class="form-box">

    <h2>Send me an email</h2>

    <form action="">
        <div class="contact-information-left-side">
            <div class="contact-information-box">
                <label for="name">Name</label>
                <input type="text" placeholder="Please write you first and last name.">
            </div>

            <div class="contact-information-box">
                <label for="email">Email address</label>
                <input type="text" placeholder="Please write your email address.">
            </div>

        </div>

        <div class="contact-information-right-side">
            <label for="message">Message</label>
            <textarea type="text" placeholder="Please write your message."></textarea>
            <div class="btn-box">
                <button type="submit">Send email</button>
            </div>

        </div>




    </form>



</div>