<header class="header">
    <div class="logo"><img class="img-weblogo" src="assets/img/testlogo.png"></div>
    <nav class="nav">
        <a>ABOUT</a>
        <a>PORTFOLIO</a>
        <a>BLOG</a>
        <a>CONTACT</a>
    </nav>

    <div class="followme">
        <div class="followme-icon"><img class="img-logo" src="assets/img/twitter-64.png"></div>
        <div class="followme-icon"><img class="img-logo" src="assets/img/linkedin-64.png"></div>
        <div class="followme-icon"><img class="img-logo" src="assets/img/facebook-64.png"></div>
        <div class="followme-icon"><img class="img-logo" src="assets/img/instagram-64.png"></div>

    </div>
</header>