<div class="myskills-container">
    <div class="myskill-content">
        <h2>My Toolbox & Things I Can Do</h2>

        <div class="myskills">

            <div class="toolbox">
                <div class="toolbox-img"> <img src="assets/img/java script.png"></div>
                <div class="toolbox-text">
                    <h3>JAVA SCRIPT</h3>
                </div>
            </div>

            <div class="toolbox">
                <div class="toolbox-img"> <img src="assets/img/Group 205.png"></div>
                <div class="toolbox-text">
                    <h3>HTML&CSS</h3>
                </div>
            </div>

            <div class="toolbox">
                <div class="toolbox-img"> <img src="assets/img/angular.png"></div>
                <div class="toolbox-text">
                    <h3>ANGULAR</h3>
                </div>
            </div>

            <div class="toolbox">
                <div class="toolbox-img"> <img src="assets/img/github-fill.png"></div>
                <div class="toolbox-text">
                    <h3>GIT HUB</h3>
                </div>
            </div>

            <div class="toolbox">
                <div class="toolbox-img"> <img src="assets/img/Git-Icon-1788C 2.png"></div>
                <div class="toolbox-text">
                    <h3>GIT</h3>
                </div>
            </div>

            <div class="toolbox">
                <div class="toolbox-img"> <img src="assets/img/slr-camera-64.png"></div>
                <div class="toolbox-text">
                    <h3>PHOTOGRAPHY</h3>
                </div>
            </div>

            <div class="toolbox">
                <div class="toolbox-img"> <img src="assets/img/Group 20.png"></div>
                <div class="toolbox-text">
                    <h3>DESING</h3>
                </div>
            </div>


        </div>

    </div>

</div>